/* 1. Color para todos los p치rrafos */
p {
    color: #883b3b;
}

/* 2. Fondo para los p치rrafos con clase destacado */
.destacado {
    background-color: #4b85af;
}

/* 3. Tama침o de fuente para el bot칩n con ID accion */
#accion {
    font-size: 18px;
}